.bgimg-1{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/imgs/header.jpg");
    height: 53%;
}
.fa{
    cursor: pointer;
}
a ion-icon{
    font-size: 2em;
}
.m{
    font-size: 1.3em;
    margin-right: 15px;
}