<ion-content class="w3-light-grey" fullscreen>

  <!-- Navigation bar with social media icons -->
  <div class="w3-bar w3-black w3-hide-small">
    <a href="https://facebook.com/SudanFGC" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
    <a href="https://www.instagram.com/teamsudan_fgc/" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
    <a href="https://twitter.com/FgcSudan" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
  </div>

  <!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
  <div class="w3-content" style="max-width:1600px">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-48 w3-white">
      <h1 class="w3-xxxlarge"><b>TEAM SUDAN</b></h1>
      <h6>Participating in <span class="w3-tag">FIRST Global 2019</span></h6>
    </header>

    <!-- Image header -->
    <header class="w3-display-container w3-wide" id="home">
      <img class="w3-image" src="assets/imgs/header.jpg" alt="Fashion Blog" width="1600" height="1060">
      <div class="w3-display-left w3-padding-large">
        <h1 class="w3-text-white">IN DUBAI</h1>
        <h1 class="w3-jumbo w3-text-white w3-hide-small"><b>FIRST Global Challenge 2019</b></h1>
        <h6><a target="_blank" href="https://first.global"><button
              class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off">LEARN
              MORE</button></a></h6>
      </div>
    </header>

    <!-- Grid -->
    <div class="w3-row w3-padding w3-border">

      <!-- Blog entries -->
      <div class="w3-col l8 s12">

        <!-- Blog entry -->
        <div class="w3-container w3-white w3-margin w3-padding-large">
          <div class="w3-center">
            <h3>MEET TEAM SUDAN</h3>
          </div>

          <div class="w3-justify">
            <iframe src="https://www.youtube.com/embed/5ko_ve38VnQ"
              style="width:100%; height: 700px; border: 0px solid black;" class="w3-padding-16">
            </iframe>
          </div>
        </div>
        <hr>

        <!-- Blog entry -->
        <div class="w3-container w3-white w3-margin w3-padding-large">
          <div class="w3-center">
            <h3>OUR STORY</h3>
            <h5>The Journey to FIRST Global 2019</h5>
          </div>

          <div class="w3-justify">
            <img src="assets/imgs/story.jpg" alt="Team Sudan" style="width:100%" class="w3-padding-16">
            <p>Team Sudan 2019 journey may have started a bit late in August due to the situation of the country but
              still went very well.
              it started when FIRST Global partner in Sudan InnoBay with the help of Mr. Faisal chose Team Sudan members
              after reviewing more than 60 CVs countering applicants technical and soft skills, their records and
              achievements in STEM field also their previous contribution in local and global competitions and
              exhibitions. The mentors were chosen according to their highly qualities and elementary skills in
              leadership, management, team work, besides the technical skills for sure.
              After a good study for the CVs 5 students, 1 mentor, and 1 team manager were chosen, according to their
              excellent records.</p>
            <p class="w3-right"><button class="w3-button w3-black"><b>READ MORE</b></button></p>
            <p class="w3-clear"></p>
          </div>
        </div>

        <!-- Blog entry -->
        <div class="w3-container w3-white w3-margin w3-padding-large">
          <div class="w3-center">
            <h3>FemSTEM</h3>
            <h5>Encourging Women for STEM, <span class="w3-opacity">Initiative by Team Sudan</span></h5>
          </div>

          <div class="w3-justify">
            <img src="assets/imgs/FemSTEM.jpeg" alt="Runway" style="width:100%" class="w3-padding-16">
            <p>
              <strong>What's FemSTEM?</strong> A lively project that highlights the struggles of women in their fields,
              specially STEM fields because they are always full of challenges.
              The highlight covers all aspects, physical mental physical, from work society and even home.
              The project aims to increase awareness about the problems and help solving them.
              This is not just a feminist program it is a project that believes both genders must be interested about
              with the same amount, when the level of awareness is increased we believe every person on the planet will
              know how to measure and balance to put people in their right places.
              We made a live on the 6th of October to officially launch the project, and it covered many problems faced
              by girls in the ancient times and nowadays.
              <hr />
              We will be loading both lives and written contents
              Beside the great activities that will be held from now and during the challenge and hopefully continue
              after.
              <p class="w3-clear"></p>
          </div>
        </div>

        <!-- END BLOG ENTRIES -->
      </div>

      <!-- About/Information menu -->
      <div class="w3-col l4">
        <!-- About Card -->
        <div class="w3-white w3-margin">
          <img src="assets/imgs/side.jpg" alt="Team Sudan" style="width:100%" class="w3-grayscale">
          <div class="w3-container w3-black">
            <h4>BIO</h4>
            <p>Hello we are Team Sudan, the national representatives of the new version of Sudan in the 2019 FIRST
              Global Challenge in Dubai.
              Team Sudan consists of one team manager, one mentor, and five students graduated from gifted and talented
              schools which started to teach them robotics fundamentals 8 years ago, each one of the team is interested
              in STEM fields and this challenge is a golden opportunity to develop team’s experiences in STEM fields,
              not only that, Team Sudan is aspired to meet international interested students from all over the world and
              help each other and share Sudanese customs and culture.
              We, Team Sudan, we want to cooperate and combine our skills to produce a spectacular job to make every
              single Sudanese proud of us.
              Looking forward to meet y'all!
            </p>
          </div>
        </div>
        <hr>

        <!-- Posts -->
        <div class="w3-white w3-margin">
          <div class="w3-container w3-padding w3-black">
            <h4>TEAM</h4>
          </div>
          <ul class="w3-ul w3-hoverable w3-white">
            <li class="w3-padding-16">
              <img src="assets/team/Noha.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">Noha Ahmed</span>
              <br>
              <span>Team Manager</span>
            </li>
            <li class="w3-padding-16">
              <img src="assets/team/Ahmed.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">Ahmed Abdelwadod</span>
              <br>
              <span>Team Mentor</span>
            </li>
            <li class="w3-padding-16">
              <img src="assets/team/Omer.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">Omer Haider</span>
              <br>
              <span>Team Captain</span>
            </li>
            <li class="w3-padding-16">
              <img src="assets/team/Sara.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">Sara Elmusbah</span>
              <br>
              <span>Team Spokesperson</span>
            </li>
            <li class="w3-padding-16">
              <img src="assets/team/Dania.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">Dania Rida</span>
              <br>
              <span>Designer</span>
            </li>
            <li class="w3-padding-16">
              <img src="assets/team/Momen.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">Momen Abdelwadoud</span>
              <br>
              <span>Programmer</span>
            </li>
            <li class="w3-padding-16">
              <img src="assets/team/Elaf.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">Elaf Shameseldin</span>
              <br>
              <span>Mechanic</span>
            </li>
          </ul>
        </div>
        <hr>

        <div class="w3-white w3-margin">
          <div class="w3-container w3-padding w3-black">
            <h4>FOLLOW US</h4>
          </div>
          <div class="w3-container w3-xlarge w3-padding">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
          </div>
        </div>
        <hr>

        <!-- END About/Intro Menu -->
      </div>

      <!-- END GRID -->
    </div>

    <!-- END w3-content -->
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-dark-grey" style="padding:32px">
    <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i
        class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>

</ion-content>